body {
    margin:0;
    font-family:'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color:rgb(255,255,255);
    color: rgb(0, 0, 0);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
        rgba(255,255,255,0.7),
        rgba(150, 206, 255,0.7)),
        url(../img/blanca.jpg);
    padding:30px;
}

.header h1{
    margin:20px;
    text-align:left;
}
.logo{
    width: 100px;
}
.navbar{
    justify-content: center;
    display:flex;
    gap:25px;
    margin: 20px;
    
}
.navbar a{
    text-align: center;
    text-decoration: none;
    color:rgb(1, 85, 104);
    padding:8px 12px;
    transition: 0.5s;
    font-size:20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
}
.navbar a:hover{
    background-color:rgb(1, 85, 104);
    color:rgb(255, 255, 255);
}
.estadisticas{
    background-color: rgb(194, 223, 249);
    display: block; 
    width: fit-content; 
    margin: 20px auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
    text-align: center;
}
.estadisticas h2{
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 20px;
}
.proyectos{
    width: 170px;
    margin:30px;
}
.tareas{
    width: 170px;
    margin:30px;
}
.mensajes{
    width: 170px;
    margin: 30px;
}
h3{
    background-color:rgb(1, 85, 104);
    color: rgb(255, 255, 255); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.7);
}
h3:active{
    transform: scale(0.95);
}
.icono{
    width: 60px;
}
.impo{
    width: 100px;
    margin-bottom: 5px;
}
.novedades{
    margin:40px;
    padding:20px 20px;
    background-color: rgb(194, 223, 249);
    text-align: center;
    list-style-position: inside;
}
.novedades h2{
    margin: 5px 0;
    font-size:30px;

}
.novedades ul{
    font-size: 20px;
    margin: 5px 0px;
    padding:0px;
}

footer p{
    font-size:10px;
}
footer{
    background-color: rgb(194,223,249);
    text-align:center;
}